$primary: darkorange;
$font1: 'Montserrat', serif;

* {
    font-family: $font1;
}

h1 {
    color: $primary;
    text-transform: capitalize;
 }

nav {
    background-color: $primary;
    color: white;
}